{% extends 'crm/main.html' %}
{% block content %}
    <div class="row">
      <div class="col-lg-9">
          <div class="card">
                <div class="card-content">

 {% load material_form %}

        <table class="bordered">
        <thead>
          <tr>
              <th>Дата создания</th>
              <th>ID</th>
              <th>Цена</th>
              <th>Район</th>
              <th></th>
          </tr>
        </thead>
{% if tp_uch %}
        <tbody>
          <tr>
{% load el_pagination_tags %}
{% lazy_paginate tp_uch %}
    {% for uc in tp_uch %}
        <tbody>
          <tr>
            <td>{{ uc.date_sozd }}</td>
            <td><strong> {{ uc.pk }}</strong></td>
            <td><strong> {{ uc.cena_agenstv }}</strong></td>
            <td><strong> {{ uc.raion }} {{ uc.kr_raion }}</strong></td>
            <th><a href="{% url 'crm:uc_detail' idd=uc.pk %}"><button type="submit" class="waves-effect waves-light btn"></span> Подробнее</button></a></th>
          </tr>



    {% endfor %}

            </tbody>
      </table>

{% get_pages %}
    <ul class="pagination">
        {% for page in pages %}
            <li>
                <a href="{{ page.path }}" rel="page" class="endless_page_link">{{ page.number }}</a>
            </li>
        {% endfor %}
   </ul>

{% else %}
  </tbody></br></br></br>
   <strong>У Вас пока нет обьектов</strong>
{% endif %}
                        </tbody>
      </table>


                </div>
          </div>
      </div>
      <div class="col-lg-3">
          <div class="card">
                <div class="card-content">
                    <form method="post" class="post-form">

                        {% csrf_token %}
                        {% form form=tpform %} {% endform %}
                        <button type="submit" name="_submit" class="btn">Найти</button>
                    </form>
                </div>
          </div>
      </div>

    </div>
<!--<div class="row">
      <div class="col s12">
          <div class="card">
                <div class="card-content">
				<a href="{% url 'crm:unpub_uc_index' %}" class="waves-effect waves-light btn" title = "Личные">Личные</a>
				<a href="{% url 'crm:pub_uc_index' %}"  class="waves-effect waves-light btn" title = "В агенстве">В агентстве</a>
</div>
</div>
</div>
</div>	 -->			




{% endblock %}