{% extends 'crm/main.html' %}
{% block content %}

{% load material_form %}
    <div class="row">
         <div class="col-sm-12">
            <div class="card">
               <div class="card-body">
                    <form method="post" class="post-form">
                    {% csrf_token %}
                        {% form form=tpform layout=form.layout%}{% endform %}
                        <button type="submit" name="_submit" class="btn btn-primary">Сохранить</button>
					</form>	
                </div>
            </div>
         </div>
     </div>








{% endblock %}