{% extends 'crm/main.html' %}
{% load material_form %}
{% block content %}
    <div class="row">
      <div class="col s1">
{% if request.user.groups.get.name == 'Администрация' %}
          <form method="post" class="post-form">
            {% csrf_token %}
            {% form form=totssearch layout=form.layout%}{% endform %}
          <div class="right-align"><button type="submit" name="otd_search" class="btn">Поиск по отделам</button></div>
      </div>
    <div class="col s1">
                  <form method="post" class="post-form">
            {% csrf_token %}
            {% form form=trieltsearch layout=form.layout%}{% endform %}
          <div class="right-align"><button type="submit" name="rielt_search" class="btn">Поиск по риелторам</button></div>
      </div>
    </div>

     </div>
{% endif %}
    {% comment %}
            start of vhodyashe zayavki
    {% endcomment %}
    <div class="row">
      <div class="col s1">
              <blockquote>
                    Входящие ({{ tvh_zayav_cn }}) <a href="{% url 'voronka_ap:voronka_new_vh_zayav' %}" class="collection-item">
                  <span class="new badge red" data-badge-caption="">Добавить заявку </span></a>
              </blockquote>
    {% for vh_zayav in tvh_zayav %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{% if vh_zayav.tek_status == 'Входящая заявка' %} {{ vh_zayav.tel }}
          {% else %}Заявка с сайта {% endif %}</span>

            <li>{{ vh_zayav.date_sozd }}</li>
        {% if vh_zayav.tek_status == 'Входящая заявка' %}
            <li>Отвественный: <strong>{{ vh_zayav.rielt.first_name }} {{ vh_zayav.rielt.last_name }} </strong></li>
            <li>Oтдел: <strong>{{ vh_zayav.otdel }} </strong></li>
        {% endif %}
        </div>
        <div class="card-action">

          {% if vh_zayav.tek_status != 'Входящая заявка' %}
              <a href="{% url 'voronka_ap:voronka_vh_vzyat_zayav' idd=vh_zayav.pk %}">Взять заявку</a>
          {% else %}
          <a href="{% url 'voronka_ap:voronka_vh_edit' idd=vh_zayav.pk %}">Внести данные{% endif %}</a>

          <a href="{% url 'voronka_ap:voronka_nedozvon_zayav' idd=vh_zayav.pk %}">{% if vh_zayav.tek_status != 'Входящая заявка с сайта' %}
              Недозв.{% endif %}</a>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
      </div>
    {% comment %}
            start of zayavki in work
    {% endcomment %}
      <div class="col s1">
              <blockquote>
                    В работе ({{ twork_zayav_cn }}) <a href="{% url 'voronka_ap:voronka_new_work_zayav' %}" class="collection-item">
                  <span class="new badge red" data-badge-caption="">Добавить заявку </span></a>
              </blockquote>
    {% for work_zayav in twork_zayav %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ work_zayav.tel }}</span>
            <li>Клиент: {{ work_zayav.fio }}</li>
            <li>{{ work_zayav.estate }} {{ work_zayav.budget }} руб.</li>
            <li>Дата создания: {{ work_zayav.date_sozd }}</li>
            <li>Дата взятия: {{ work_zayav.date_vzatia }}</li>
            <li>Текущий статус: <strong>{{ work_zayav.tek_status }}</strong></li>
            <li>Ответственный: {{ work_zayav.rielt.first_name }} {{ work_zayav.rielt.last_name }}</li>
        </div>
        <div class="card-action">
          <a href="{% url 'voronka_ap:voronka_detail' idd=work_zayav.pk %}">Подробнее</a>

        </div>
      </div>
    </div>
  </div>
    {% endfor %}

      </div>
    {% comment %}
            start of zayavki vstrech
    {% endcomment %}
      <div class="col s1">
              <blockquote>
                    Показ/Встреча ({{ tpokaz_zayav_cn }})
              </blockquote>
    {% for pokaz_zayav in tpokaz_zayav %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ pokaz_zayav.tel }}</span>
            <li>Клиент: {{ pokaz_zayav.fio }}</li>
            <li>{{ pokaz_zayav.estate }} {{ pokaz_zayav.budget }} руб.</li>
            <li>Дата создания: {{ pokaz_zayav.date_sozd }}</li>
            <li>Дата взятия: {{ pokaz_zayav.date_vzatia }}</li>
            <li>Ответственный: {{ pokaz_zayav.rielt.first_name }} {{ pokaz_zayav.rielt.last_name }}</li>
        </div>
        <div class="card-action">
          <a href="{% url 'voronka_ap:voronka_detail' idd=pokaz_zayav.pk %}">Подробнее</a>

        </div>
      </div>
    </div>
  </div>
    {% endfor %}
      </div>
    {% comment %}
            start of nedozvon zayavki
    {% endcomment %}
      <div class="col s1">
              <blockquote>
                    Недозвон ({{ tnd_zayav_cn }})
              </blockquote>
    {% for nd_zayav in tnd_zayav %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ nd_zayav.tel }}</span>
            <li>Дата создания: {{ nd_zayav.date_sozd }}</li>
            {% if nd_zayav.date_vzatia %}<li>Дата взятия: {{ nd_zayav.date_vzatia }}</li>{% endif %}
            <li>Ответственный: {{ nd_zayav.rielt.first_name }} {{ nd_zayav.rielt.last_name }}</li>
            {% if nd_zayav.estate %}<li>{{ nd_zayav.estate }} {{ nd_zayav.budget }} руб.</li>{% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'voronka_ap:voronka_detail' idd=nd_zayav.pk %}">Подробнее</a>
          {% if not nd_zayav.fio %}
              <a href="{% url 'voronka_ap:voronka_vh_edit' idd=vh_zayav.pk %}">Внести данные</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
      </div>


    {% comment %}
            start of Zakritie zayavki
    {% endcomment %}
      <div class="col s1">
              <blockquote>
                    Закрытые ({{ tzakr_zayav_cn }})
              </blockquote>
    {% for zakr_zayav in tzakr_zayav %}
  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ zakr_zayav.tel }}</span>
            <li>Дата создания: {{ zakr_zayav.date_sozd }}</li>
            <li>Дата взятия: {{ zakr_zayav.date_vzatia }}</li>
            <li>Дата закрытия: {{ zakr_zayav.date_vzatia }}</li>
            <li>Текущий статус: <strong>{{ zakr_zayav.tek_status }}</strong></li>
            <li>Ответственный: {{ zakr_zayav.rielt.first_name }} {{ zakr_zayav.rielt.last_name }}</li>
            <li>{{ zakr_zayav.estate }} {{ zakr_zayav.budget }} руб.</li>
        </div>
        <div class="card-action">
          <a href="{% url 'voronka_ap:voronka_detail' idd=zakr_zayav.pk %}">Подробнее</a>

        </div>
      </div>
    </div>
  </div>
    {% endfor %}
      </div>
        <div class="col s1">
              <blockquote>
                    Задачи на сегодня:
              </blockquote>
    {% for tpost in twork_zayav|slice:":20" %}
            {% for c in  tpost.zadacha_id.all %}
                {% if tdate|date:"d F Y" == c.zadacha_date|date:"d F Y"  %}
            <li><a href="{% url 'voronka_ap:voronka_detail' idd=c.zadacha_idd_id %}">{{ tdate|date:"d F Y"  }}<strong> {{ c.zadacha_date|date:"d F Y" }} в {{ c.zadacha_time }}</strong> {{ c.zadacha }}</li>
                {% endif %}

            {% endfor %}
        {% endfor %}
    </div>
    </div>

{% endblock %}