{% extends 'crm/main.html' %}
{% load material_form %}
{% block content %}
<div>
    <div class="row">
        <div class="col s12 m3">
      <form method="post" class="post-form">
        {% csrf_token %}
    <div class="row">
      <div class="col s1">{{ tdateform.stdate }}</div>
      <div class="col s1">{{ tdateform.enddate }}</div>
      <div class="col s1"><div class="right-align"><button type="submit" name="otv_post" class="btn">Поиск</button></div>
      </div>
      </div>
    </div>


</div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content ">
          <span class="card-title">{{ sdate|date:"d F Y" }} - {{ edate|date:"d F Y" }}</span>
          <p><blockquote>
            Таблица в правом верхнем углу</br>
            1 Строчка Общее кол-во заявок: {{ tall_zayav_count }}/{{ tall_zayav_sum }} rub</br>
            2 строчка(2 ячейки) Заявок в работе: {{ twork_zayav_count }}/{{ twork_zayav_sum }} </br>
            3 строчка(2 ячейки) Заявок закрыто: {{ tsdelka_zayav_count }}/{{ tsdelka_zayav_sum }} </br>
            </blockquote></p>
        </div>

      </div>
    </div>
  </div>

</div>


    <div class="row">
      <div class="col s1">
            <div class="row">
    <div class="col s12 m6">
      <div class="card ">
        <div class="card-content ">
          <span class="card-title">Воронка продаж(по статусам):(перевернутый треугольник)</span>
          <p><blockquote>
                {% for voronka_tmp in tvoronka_tmp %}
                    <li>{{ voronka_tmp.status_nazv }}: {{ voronka_tmp.voronka_counts }} заявок.</li>
                {% endfor %}
            </blockquote></p>
        </div>

      </div>
    </div>
  </div>


      </div>
      <div class="col s1">
      <div class="card ">
        <div class="card-content ">
          <span class="card-title">Каналы поступления заявок:(круговая диаграмма)</span>
          <p><blockquote>
                {% for voronka_kanal in tvoronka_kanal %}
                    <li>{{ voronka_kanal.kanal }}: {{ voronka_kanal.voronka_counts }} заявок.</li>
                {% endfor %}
            </blockquote></p>
        </div>

      </div>
      </div>
      <div class="col s1">3</div>
      </div>


    <div class="card-action">
          <a href="#">Воронка по отделам</a>
    </div>

{% endblock %}