{% extends 'crm/main.html' %}

{% block content %}

<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">

<style>li.nav-item {
    margin-left: 10px;
}</style>
      <ul class="nav nav-pills m-t-30 m-b-30">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" aria-expanded="false" href="#test1">1 отдел <span class="new badge blue" data-badge-caption="">{{ tOtd1_cn }}</span></a></li>
        <li class="nav-item"><a href="#test2" class="nav-link" data-toggle="tab" aria-expanded="false">2 отдел <span class="new badge blue" data-badge-caption="">{{ tOtd2_cn }}</span></a></li>
        <li class="nav-item"><a href="#test3" class="nav-link" data-toggle="tab" aria-expanded="false">3 отдел <span class="new badge blue" data-badge-caption="">{{ tOtd3_cn }}</span></a></li>
        <li class="nav-item"><a href="#test4" class="nav-link" data-toggle="tab" aria-expanded="false">4 отдел <span class="new badge blue" data-badge-caption="">{{ tOtd4_cn }}</span></a></li>
        <li class="nav-item"><a href="#test5" class="nav-link" data-toggle="tab" aria-expanded="false">5 отдел <span class="new badge blue" data-badge-caption="">{{ tOtdAdl_cn }}</span></a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" aria-expanded="false"> <span class="new badge" data-badge-caption="">Циан {{ tvs }}/ЦРМ {{ tegr }}</span></a></li>
      </ul>
<div class="tab-content br-n pn">
    <div id="test1" class=" tab-pane active">
	<div class="p-20" ><p> </p></div>
      <table class="table">
        <thead>
          <tr>
              <th><strong>Ф.И.О.</strong></th>
              <th><strong>Кол-во обьектов в CRM</strong></th>
              <th><strong>Кол-во обьектов в CRM(за неделю)</strong></th>
              <th><strong>кол-во обьектов в ЦИАН</strong></th>
          </tr>
        {%   if tNach_otd == 'Yes' %}
        </thead>
        <tbody>
        {% for otd in tOtd1 %}
          <tr>
            <td>{{ otd.auth_ful_name }} </td>
            <td>{{ otd.crm_calc }}/( C № кадастра:{{otd.crm_calc_kadastr }} )</td>
            <td>{{ otd.crm_calc_week }}</td>
            <td>{{ otd.cian_calc }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>



    <div id="test2" class="tab-pane ">
	<div class="p-20" ><p> </p></div>
              <table class="table">
        <thead>
          <tr>
              <th><strong>Ф.И.О.</strong></th>
              <th><strong>Кол-во обьектов в CRM</strong></th>
              <th><strong>Кол-во обьектов в CRM(за неделю)</strong></th>
              <th><strong>кол-во обьектов в ЦИАН</strong></th>
          </tr>
        </thead>
        <tbody>
        {% for otd in tOtd2 %}
          <tr>
            <td>{{ otd.auth_ful_name }}</td>
            <td>{{ otd.crm_calc }}/( C № кадастра:{{otd.crm_calc_kadastr }} )</td>
           <td>{{ otd.crm_calc_week }}</td>
           <td>{{ otd.cian_calc }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>


    </div>


    <div id="test3" class="tab-pane ">
	<div class="p-20" ><p> </p></div>
          <table class="table">
        <thead>
          <tr>
              <th><strong>Ф.И.О.</strong></th>
              <th><strong>Кол-во обьектов в CRM</strong></th>
              <th><strong>Кол-во обьектов в CRM(за неделю)</strong></th>
              <th><strong>кол-во обьектов в ЦИАН</strong></th>
          </tr>
        </thead>
        <tbody>
        {% for otd in tOtd3 %}
          <tr>
            <td>{{ otd.auth_ful_name }}</td>
            <td>{{ otd.crm_calc }}/( C № кадастра:{{otd.crm_calc_kadastr }} )</td>
            <td>{{ otd.crm_calc_week }}</td>
            <td>{{ otd.cian_calc }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>

    <div id="test4" class="tab-pane ">
	<div class="p-20" ><p> </p></div>
              <table class="table">
        <thead>
          <tr>
              <th><strong>Ф.И.О.</strong></th>
              <th><strong>Кол-во обьектов в CRM</strong></th>
              <th><strong>Кол-во обьектов в CRM(за неделю)</strong></th>
              <th><strong>кол-во обьектов в ЦИАН</strong></th>
          </tr>
        </thead>
        <tbody>
        {% for otd in tOtd4 %}
          <tr>
            <td>{{ otd.auth_ful_name }}</td>
            <td>{{ otd.crm_calc }}/( C № кадастра:{{otd.crm_calc_kadastr }} )</td>
            <td>{{ otd.crm_calc_week }}</td>
            <td>{{ otd.cian_calc }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>


    <div id="test5" class=" tab-pane ">
	<div class="p-20" ><p> </p></div>
              <table class="table">
        <thead>
          <tr>
              <th><strong>Ф.И.О.</strong></th>
              <th><strong>Кол-во обьектов в CRM</strong></th>
               <th><strong>Кол-во обьектов в CRM(за неделю)</strong></th>
              <th><strong>кол-во обьектов в ЦИАН</strong></th>
          </tr>
        </thead>
        <tbody>
        {% for AdlOtdel in tAdlOtdel   %}
          <tr>
            <td>{{  AdlOtdel.auth_ful_name }}</td>
            <td>{{  AdlOtdel.crm_calc }}/( C № кадастра:{{AdlOtdel.crm_calc_kadastr }} )</td>
            <td>{{ AdlOtdel.crm_calc_week }}</td>
            <td>{{ AdlOtdel.cian_calc }}</td>
          </tr>
        {% endfor %}
           {% endif %}
        </tbody>
      </table>

    </div>
  </div>
  </div>
  
  
</div>
</div>
</div>



{% endblock %}