{% extends 'crm/main.html' %}
{% block content %}
<style>.ml-1.d-none.d-sm-block {
    display: none !important;
}</style>
<div class="row">
<div class="col-lg-12">
<div class="card">
<div class="card-body">
{% load material_form %}



      <ul class="nav nav-pills m-t-30 m-b-30">{{ ti }}
        <li class="nav-item"><a href="#test1" class="nav-link active" data-toggle="tab" aria-expanded="false">Редактор профилей пользователей</a></li>
        <li class="nav-item"><a href="#test2" class="nav-link" data-toggle="tab" aria-expanded="false">Перенос данных</a></li>
        <li class="nav-item"><a href="#test3" class="nav-link" data-toggle="tab" aria-expanded="false">Редактор групп</a></li>
          {% comment %}
        <li class="tab col s3 disabled"><a href="#test4">Test 4</a></li>
        {% endcomment %}
      </ul>
{% load material_form %}

<div class="tab-content br-n pn">
    <div id="test1" class="tab-pane active">
{% comment %}<form method="post" class="post-form">{% endcomment %}
    <div class="row">
      <div class="col s12">{% csrf_token %}
            {% comment %}{% form form=tVsForm %}{% endcomment %}
<br>
             <a href="{% url 'crm:user_new_url' %}">
              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>
                  Добавить нового пользователя </button></a>
{% comment %}
              <button type="submit"  name="vestumDellPrPub" class="btn">Убрать признак публикации</button>
{% endcomment %}
      </div>

    </div>
</form>

  <div class="row">
    <div class="col s12 ">
      <div class="card ">
        <div class="card-content ">
              <table>
        <thead>
          <tr>
              <th><strong>Отдел</strong></th>
              <th><strong>ФИО</strong></th>
              {% comment %}
              <th><strong>Avito(Обычное)</strong></th>
              <th><strong>Avito(Премиум)</strong></th>
              <th><strong>Avito(VIP)</strong></th>
              <th><strong>Avito(Поднятие)</strong></th>
              <th><strong>Avito(Выделение)</strong></th>
              <th><strong>Avito(Turbo)</strong></th>
              <th><strong>Avito(Быстрая продажа)</strong></th>
              {% endcomment %}
          </tr>
        </thead>
               <tbody>
           {% for reelt in tallreelt %}
          <tr>
            <td>{{ reelt.groups.all.0 }} </td>
            <td><a href="{% url 'crm:admin_agent_id_url' agent_id=reelt.pk %}">{{ reelt.last_name }} {{ reelt.first_name }}</td>
          {% comment %}
            <td> {{ reelt.userprofile1.vestum_count_ads }}</td>
            <td> {{ reelt.userprofile1.avitoPR_count_ads }}</td>
          <td> {{ reelt.userprofile1.avitoVIP_count_ads }}</td>
          <td> {{ reelt.userprofile1.avitoPODN_count_ads }}</td>
          <td> {{ reelt.userprofile1.avitoVID_count_ads}}</td>
          <td> {{ reelt.userprofile1.avitoTURBO_count_ads }}</td>
          <td> {{ reelt.userprofile1.avitoQUICK_count_ads }}</td>
          {% endcomment %}
          </tr>
           {%  endfor %}
                </tbody>
      </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div id="test2" class="tab-pane">
  <span class="card-title">Перенос обьектов:</span>
<form method="post" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col s1">
          <div class="row">
    <div class="select-field col s12 required" id="id_month_container">
        <label for="id_month">Перенессти обьекты с:</label>
        <select id="id_month" name="subj_from">
            {% for agent in agent_subj %}
                <option value="{{ agent.username }}" >{{ agent.last_name }} {{ agent.first_name }} {{ agent.cn }} обьктов</option>
            {% endfor %}
        </select>

    </div>
</div>
      </div>
      <div class="col s1">
          <div class="row">
    <div class="select-field col s12 required" id="id_month_container">
        <label for="id_month">Перенессти обьекты на:</label> <select id="id_month" name="subj_to">
            {% for agent in agent_subj %}
                <option value="{{ agent.username }}" >{{ agent.last_name }} {{ agent.first_name }} {{ agent.cn }} обьектов</option>
            {% endfor %}

        </select>

    </div>
</div>
      </div>
    </div>
    <button type="submit"  name="_subj_transfer" class="btn">Перенести обьекты</button>
   
</form>



  <span class="card-title">Перенос клиентов:</span>
<form method="post" class="post-form">
    {% csrf_token %}
    <div class="row">
      <div class="col s1">
          <div class="row">
    <div class="select-field col s12 required" id="id_month_container">
        <label for="id_month">Перенессти клиентов с:</label>
        <select id="id_month" name="subj_from">
            {% for agent in agent_applecations %}
                <option value="{{ agent.username }}" >{{ agent.last_name }} {{ agent.first_name }} {{ agent.cn }} клиентов</option>
            {% endfor %}
        </select>

    </div>
</div>
      </div>
      <div class="col s1">
          <div class="row">
    <div class="select-field col s12 required" id="id_month_container">
        <label for="id_month">Перенессти клиентов на:</label> <select id="id_month" name="subj_to">
            {% for agent in agent_applecations %}
                <option value="{{ agent.username }}" >{{ agent.last_name }} {{ agent.first_name }} {{ agent.cn }} клиентов</option>
            {% endfor %}

        </select>

    </div>
</div>
      </div>
    </div>
    <button type="submit"  name="_app_transfer" class="btn">Перенести клиентов</button>
</form>
</div>

<div id="test3" class="tab-pane">
  <span class="card-title">Редактор групп:</span>
    <form id="" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}

    {{ group_edit_form.management_form }}
    {% for form in group_edit_form %}
        <ul>
            <li>{{ form }} </li>
        </ul>
    {% endfor %}


<input type="submit" name="group_edit" value="Сохранить" />
</div>
{% comment %}
    <div id="test3" class="col s12"></div>
    <div id="test4" class="col s12"></div>
{% endcomment %}
  </div>


 </div>
</div>

{% endblock %}
