{% extends 'crm/main.html' %}
{% block content %}
{{ tpaFlatSearch.media.css }}
<style type="text/css">
        input, select,select2 select2-container {width: 100%}
</style>
    <script src="/static/select/jquery-3.4.1.js"></script>


<div class="row">
<div class="col-lg-12">
<form method="post" class="post-form"> {% csrf_token %}
{#    <p> {{ tpaFlatSearch.search_raion }}</p>#}
    <div class="row">
      <div class="col s1">{{ tpaFlatSearch.search_raion.label }} {{ tpaFlatSearch.search_raion }}</div>
      <div class="col s1">{{  tpaFlatSearch.contract.label }} {{  tpaFlatSearch.contract }}</div>
    </div>
    <div class="row">
      <div class="col s1">{{ tpaFlatSearch.search_minp.label }} {{ tpaFlatSearch.search_minp }}</div>
      <div class="col s1">{{ tpaFlatSearch.search_maxp.label }} {{ tpaFlatSearch.search_maxp }}</div>
    </div>
        <div class="row">
      <div class="col s1">{{ tpaFlatSearch.search_minc.label }} {{ tpaFlatSearch.search_minc }}</div>
      <div class="col s1">{{ tpaFlatSearch.search_maxc.label }} {{ tpaFlatSearch.search_maxc }}</div>
    </div>

<button type="submit" name="_submit" class="btn">Найти</button>
</form></div>
   <div class="col-lg-12">
      <div class="card">
         <div class="card-content">
            {% load material_form %}
            <table class="bordered">
               <thead>
                  <tr>
                      <th>ID</th>
                     <th></th>
                      <th>Kоличество комнат</th>
                     <th>Oтветственный</th>
                     <th>Цена</th>
                     <th>Район</th>
                     <th>Адрес</th>
                     <th></th>
                     {% comment %}{% ifequal request.user.userprofile1.ya "Да" %}
                     <th>Статус</th>
                     {% endifequal%} {% endcomment %}
                  </tr>
               </thead>
               {% if tpflatlist %}
               {% load el_pagination_tags %}
               {% lazy_paginate  tpflatlist %}
               {% for flatlist in tpflatlist %}
               <tbody>

                    <td>
              {% if flatlist.main_pct %}
                   <img
                                                        class="materialboxed"
                                                        rel="gallery"
                                                        height="100"
                                                        src="http://77.222.52.20{{ flatlist.main_pct.url }}"></div>
               {% else %}
                        {% for i in flatlist.idd_gal.all|slice:":1" %}
                            <img
                                                        class="materialboxed"
                                                        rel="gallery"
                                                        height="100"
                                                        src="http://77.222.52.20{{ i.npict.url }}"></div>
                        {% endfor %}
                    </td>
                {% endif %}
                     {%  if request.user.groups.get.name == 'Офис-менеджер' %}
                     <td> <a href="{% url 'crm:new_kadastr' idd=flatlist.pk %}">{{ flatlist.date_sozd }}</a> </td>
                     {% else %}
                     <td> {{ flatlist.komnat }}{% comment %}{{ flatlist.date_sozd }}({{ flatlist.status_obj }}){% endcomment %} </td>
                     {% endif %}
                     <td> {{ flatlist.author.first_name }} {{ flatlist.author.last_name }}{% comment %}{ flatlist.pk }}{% endcomment %}</td>
                     <td> {{ flatlist.cena_agenstv }} </td>
                     <td> {{ flatlist.raion }} {{ flatlist.kr_raion }}</td>
                     <td>{{ flatlist.adress }} {{ flatlist.dom_numb }}</td>
                     {% comment %}
                     <td>
                        {%  ifequal request.user flatlist.author %}
                        {%  ifequal flatlist.text_err True %} Текст; {% endifequal %}
                        {%  ifequal flatlist.kv_err True %} №кв/кадстр; {% endifequal %}
                        {%  ifequal flatlist.dom_err True %} № Дома; {% endifequal %}
                        {%  ifequal flatlist.pict_err True %} Карт; {% endifequal %}
                        {% endifequal %}
                     </td>
                     <td>
                        {% ifequal request.user flatlist.author%}
                        {% comment %} {% if flatlist.vestum_pub == 'Да' %}<i class="material-icons" >V+</i>{% endif %}
                        {% if flatlist.kadastr != '' %}<i class="material-icons" >K+</i>{% endif %}
                        {% if flatlist.domclick_pub == 'Да' and flatlist.kadastr != '' %}<i class="material-icons" >Дм+</i>{% endif %}
                        {% endifequal %}
                     </td>
                     {% ifequal request.user.userprofile1.ya "Да" %}
                     {% ifequal request.user flatlist.author%}
                     <td> {{ flatlist.building_name }}</td>
                     {% endifequal %}
                     {% endifequal%}{% endcomment %}
                     <td><a href="{% url 'crm:flat_detail' idd=flatlist.pk %}"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Подробнее</button></a></td>
                  </tr>
               </tbody>
               {% endfor %}
            </table>
            {% get_pages %}
            <ul class="pagination">
               {% for page in pages %}
               <li>
                  <a href="{{ page.path }}" rel="page" class="endless_page_link">{{ page.number }}</a>
               </li>
               {% endfor %}
            </ul>
            {% else %}
            </tbody></br></br></br>
            <strong>У Вас пока нет обьектов</strong>
            {% endif %}
            </tbody>
            </table>
         </div>
      </div>
   </div>
    {% comment %}
   <div class="col-lg-3">
      {% if kr_flag == 'Yes' %}
      <div class="card">
         <div class="card-content">
            <form method="post" class="post-form">
               <h2>Сочи</h2>
               {% csrf_token %}
               {% form form=KrFlatSearch %} {% endform %}
               <button type="submit" name="_kr_submit" class="btn">Найти</button>
            </form>
         </div>
      </div>
   {% endif %}
      <div class="card">
         <div class="card-content">
            <form method="post" class="post-form">
               <h2>Сочи</h2>
               {% csrf_token %}
               {% form form=tpaFlatSearch %} {% endform %}
               <button type="submit" name="_submit" class="btn">Найти</button>
            </form>
         </div>
      </div>
   </div>

</div>{% endcomment %}
<!--
   <div class="fixed-action-btn horizontal">
   <a class="btn-floating btn-large red">
     <i class="large material-icons">access_time</i>
   </a>

   <ul>
     <li><a href="{% url 'crm:my_flatunpub' %}" class="btn-floating yellow darken-1"title = "Личные"><i class="material-icons">account_box</i></a></li>
     <li><a <a href="{% url 'crm:my_flatpub' %}"  class="btn-floating green" title = "В агенстве"><i class="material-icons">announcement</i></a></li>
   -->
</ul>
    </div>

        {{ tpaFlatSearch.media.js }}
<script src="/static/select/js/i18n/ru.js"></script>


{% endblock %}