<Ads formatVersion="3" target="Avito.ru">
{% for post in tppost %}
    <Ad>
		<Id>{{ post.pk }}</Id>
		<Category>Квартиры</Category>
		<OperationType>Продам</OperationType>
		<DateBegin>{{ post.DateBegin }}</DateBegin>
		<DateEnd>{{ post.DateEnd }}</DateEnd>
		<Address>Краснодарский край, Сочи, ул.{{ post.Street }}, {{ post.House_Numb }} </Address>
		<Description>{{ post.Description }}
		</Description>
		<Price>{{ post.Price }}</Price>
		<CompanyName>Инвестиционно — строительная компания “Инвест Сочи”</CompanyName>
		<ManagerName>{{  post.auth.first_name }} {{ post.auth.last_name }}</ManagerName>
		<AllowEmail>Нет</AllowEmail>
		<ContactPhone>{{ post.auth.userprofile1.tel  }} </ContactPhone>
    	<Images>
            {% for i in post.idd_gal.all %}
			<Image url="http://77.222.63.160/{{ i.npict.url }}" />
            {% endfor %}
		</Images>
    {% if post.AdStatus == 'Обычное' %}
        <AdStatus>Free</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'Премиум-объявление' %}
        <AdStatus>Premium</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'VIP-объявление' %}
        <AdStatus>VIP</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'Поднятие объявления в поиске' %}
        <AdStatus>PushUp</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'Выделение объявления' %}
        <AdStatus>Highlight</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'Турбо-продажа' %}
        <AdStatus>TurboSale</AdStatus>
    {% endif %}
    {% if post.AdStatus == 'Быстрая продажа' %}
        <AdStatus>QuickSale</AdStatus>
    {% endif %}
		<Rooms>{{ post.Rooms }}</Rooms>
		<Square>{{ post.Square }}</Square>
		<Floor>{{ post.Floor }}</Floor>
		<Floors>{{ post.Floors }}</Floors>
		<HouseType>{{ post.HouseType }}</HouseType>
		<MarketType>{{ post.MarketType }}</MarketType>
    </Ad>
{% endfor %}
</Ads>